* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}
img{
  display: block;
  margin-right: auto;
  gap: 20px;
}

header {
  display: flex;
  justify-content:left;
  align-items: left;
  padding: 0;
  background: #0a1f44;
  color: white;
  margin-left: auto;
}

nav a {
  color: white;
  margin-left: 0;
  text-decoration: none;
}

.menu-btn {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.hero {
  height: 30vh;
  background: linear-gradient(to right, #0a1f44, #123a7a);
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.hero button {
  width: 160px;
  padding: 12px;
  margin-top: 20px;
  border: none;
  background: #f4b400;
  cursor: pointer;
  justify-content: center;
  text-align: center;
}

.section {
  padding:  0px;
  text-align: center;
}

.section.light {
  background: #f4f4f4;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 40px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

form input, form textarea {
  margin: 10px 0;
  padding: 10px;
}

footer {
  background: #0a1f44;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Mobile */
@media (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    background: #0a1f44;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
  }

  nav a {
    padding: 15px;
  }

  .menu-btn {
    display: block;
  }

  .cards {
    flex-direction: column;
  }
}